body, html {
    padding: 0;
    margin: 0;
    height:100%;
}

.calculators {  /*i think we can set width here*/  }

.calculators > .label.casco > .cnt {  background-image: url('../img/casco.png');  }
.calculators > .label.osago > .cnt {  background-image: url('../img/osago.png');  }
.calculators > .label.card > .cnt {  background-image: url('../img/card.png');  }
.calculators > .label.travel > .cnt {  background-image: url('../img/travel.png');  }

.calculators > .label.casco .shield > .img {  background-image: url('../img/casco_ico.png');  }
.calculators > .label.osago .shield > .img {  background-image: url('../img/osago_ico.png');  }
.calculators > .label.card .shield > .img {  background-image: url('../img/card_ico.png');  }
.calculators > .label.travel .shield > .img {  background-image: url('../img/travel_ico.png');  }

.calculators > .label {
    height:125px;
    width:333px;
    background:rgba(53, 63, 82, 1.0);
    cursor:pointer;
}

.calculators > .label > .cnt {
    width:100%;
    height:100%;
    display:-webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    opacity: 0.9;
}

.calculators > .label:hover > .cnt {
    opacity: 1.0;
}


.calculators > .label .shield {
    background-image: url('../img/shield.png');
    background-size:100% 100%;
    width:46px;
    height:54px;
    margin:0 23px 0 50px;
    text-align: center;
}

.calculators > .label .shield > .img {
    width:24px;
    height:24px;
    vertical-align: middle;
    display: inline-block;
    background-size:cover;
    margin-top: 14px;
}

.calculators > .label .text {
    color:white;
    font-family: 'Regular', 'Arial';
}

.calculators > .label .text > div {
    font-size:8px;
}

.calculators > .label .text > h3 {
    font-size:22px;
    margin:0;
}

